<div class="chat-header">
  <div class="header-left">
    <div class="title">
      testroom1
    </div>
  </div>
  <div class="header-right">
    <div class="end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
  <div class="message">
    <div class="message-top">
      <div class="message-name">
        Tom
      </div>
      <div class="create-at">
        2020/1/3(Sun) 11:22:33
      </div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
      おはよう
      </div>
    </div>
  </div>
    <div class="message">
    <div class="message-top">
      <div class="message-name">
        Tom
      </div>
      <div class="create-at">
        2020/1/3(Sun) 11:22:33
      </div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
      おはよう
      </div>
    </div>
  </div>
</div>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="input-form">
    <%= f.text_field :content, class: 'message-form', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'submit-btn' %>
<% end %>